<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="queryKey" @input="query" placeholder="请输入查询关键字">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("info:doorinfo:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("info:doorinfo:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("info:doorinfo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">房间编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="doorInfo.roomId" placeholder="房间编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">门编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="doorInfo.doorId" placeholder="门编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">蓝牙MAC地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="doorInfo.bltMac" placeholder="蓝牙MAC地址"/>
                        </div>
                    </div>
											                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">管理员id</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="doorInfo.ownerId" placeholder="管理员id"/>-->
                        <!--</div>-->
                    <!--</div>-->
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">初始密码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="doorInfo.prePwd" placeholder="初始密码"/>
                        </div>
                    </div>
											                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">下次密码</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="doorInfo.nextPwd" placeholder="下次密码"/>-->
                        <!--</div>-->
                    <!--</div>-->
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">门的描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="doorInfo.description" placeholder="门的描述"/>
                        </div>
                    </div>
											                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">更新时间</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="doorInfo.updatedAt" placeholder="更新时间"/>-->
                        <!--</div>-->
                    <!--</div>-->
											                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label">创建时间</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="doorInfo.createdAt" placeholder="创建时间"/>-->
                        <!--</div>-->
                    <!--</div>-->
											                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label"></div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="doorInfo.createdBy" placeholder=""/>-->
                        <!--</div>-->
                    <!--</div>-->
											                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-2 control-label"></div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" v-model="doorInfo.lastModifiedBy" placeholder=""/>-->
                        <!--</div>-->
                    <!--</div>-->
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/info/doorinfo.js?_${.now?long}"></script>
</body>
</html>